/Entrega_Octubre1/Ejercicio22/nbproject/private/
/Entrega_Octubre1/Ejercicio22/build/
/Entrega_Octubre1/Ejercicio23/nbproject/private/
/Entrega_Octubre1/Ejercicio23/build/
/Entrega_Octubre1/Ejercicio40/nbproject/private/
/Entrega_Octubre1/Ejercicio41/nbproject/private/
/Entrega_Octubre1/Ejercicio40/build/
